*{
    margin: 0;padding: 0;
}
html{
    margin-top: -16px;
}
body{
    box-sizing: border-box;
    /* margin-top: -16px; */
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
header{
    height: 50px;
    background-color: #e74c3c;

}
header ul{
    list-style-type: none;

}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 0px 15px;
}
header ul li a:hover{
    background-color: #d83a28;
    text-decoration: none;
    color: #ccc;
}
header ul ul{
    z-index: 999;
    position: absolute;
    top: 50px;left: 0;
    background-color: rgb(110, 110, 23);
    width: 170px;
    display: none;
}
header ul ul li{
    width: 100%;
}
header ul ul li a{
    border-bottom: 1px solid #ccc;
}


header ul li:hover ul{
    display: block;
}

.box{
    border: 1px solid#ccc;
    margin-bottom: 15px;
}
.box p{
    text-align: center;
}
